[submodule "week-35-html-css-and-js-KippaK"]
	path = week-35-html-css-and-js-KippaK
	url = git@github.com:5G00EV06-3004/week-35-html-css-and-js-KippaK.git
[submodule "week-36-essential-javascript-for-react-KippaK"]
	path = week-36-essential-javascript-for-react-KippaK
	url = git@github.com:5G00EV06-3004/week-36-essential-javascript-for-react-KippaK.git
[submodule "week-37-react-basics-KippaK"]
	path = week-37-react-basics-KippaK
	url = git@github.com:5G00EV06-3004/week-37-react-basics-KippaK.git
[submodule "week-38-react-state-KippaK"]
	path = week-38-react-state-KippaK
	url = git@github.com:5G00EV06-3004/week-38-react-state-KippaK.git
[submodule "week-39-rendering-lists-KippaK"]
	path = week-39-rendering-lists-KippaK
	url = git@github.com:5G00EV06-3004/week-39-rendering-lists-KippaK.git
[submodule "week-40-styling-react-KippaK"]
	path = week-40-styling-react-KippaK
	url = git@github.com:5G00EV06-3004/week-40-styling-react-KippaK.git
[submodule "week-41-react-hooks-KippaK"]
	path = week-41-react-hooks-KippaK
	url = git@github.com:5G00EV06-3004/week-41-react-hooks-KippaK.git
[submodule "week-43-mid-term-assignment-KippaK"]
	path = week-43-mid-term-assignment-KippaK
	url = git@github.com:5G00EV06-3004/week-43-mid-term-assignment-KippaK.git
